#mylabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: verdana;
}

#btncontainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1em;  /* Adjust the value and unit as needed */
    color: white;
    background-color: rgb(116, 116, 235);
    border-radius: 5px;
    cursor: pointer;
}
